# SPDX-License-Identifier: GPL-2.0-or-later

namespace import testing_helpers::*

adapter driver dummy
transport select jtag
jtag newtap chip cpu -irlen 4
dap create chip.dap -tap chip.cpu
target create chip.cpu cortex_m -dap chip.dap -rtos chibios-rt7
check_matches {^chibios-rt7$} {chip.cpu cget -rtos}

check_error_matches {} {target create other.cpu testee -tap chip.cpu -rtos chibios-rt7}

shutdown
